<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div class="callout">
  <span class="h1">Bands</span>
  <%= link_to(
    "New band",
    new_band_path,
    {
      class: 'button alert large',
      style: 'position: absolute; right: 1rem; top: 50%; transform: translateY(-50%);'
    }
  ) %>
</div>

<div id="bands">
  <table class="unstriped hover" style="table-layout: fixed; width: 95%; margin: 32px auto 0;">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Registerd At</th>
      </tr>
    </thead>
    <tbody>
      <% @bands.each.with_index(1) do |band, index| %>
        <tr style="cursor: pointer;" onclick='window.location="<%= band_path(band) %>";'>
          <td><%= index %></td>
          <td><%= band.name %></td>
          <td><%= band.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
