<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div class="callout">
  <span class="h1"><%= @band.name %></span>
</div>

<div style="margin-left: 2.5%">
  <%= link_to "Edit this band", edit_band_path(@band), class: 'button alert large' %>
  <%= link_to "Back to bands", bands_path, class: 'button secondary large', style: 'margin-left: 1rem;' %>
  <%= button_to "Destroy this band", @band, method: :delete, class: 'button warning large' %>
</div>
